doctype html
html(lang='en')
	head
		title='Codejobs'
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		//link(rel='stylesheet', href='/themes/codejobs/stylesheets/core.css')
		//link(rel='stylesheet', href='/themes/codejobs/stylesheets/theme.css')
	body
		block header
		block right_sidebar
		block content
		block footer