doctype html
html(lang='en')
	head
		title=site.title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	
		link(rel='stylesheet', href='/themes/#{site.theme}/stylesheets/style.css')
	body
		block header
		block right_sidebar
		block content
		block footer