extends ../layout

block content
  div
    form(action='/#{currentLanguage}',method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='email') email
            input(id='email',type='text',value='',placeholder='@',name='email[]')
            input(id='email',type='text',value='',placeholder='@',name='email[]')
      div#passworddiv(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='password') password
             input(id='password',type='password',value='',placeholder='',name='password')
      div(data-role='fieldcontain')   
        input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')