h3,
h4,
h5 {
	color: #0088cc;
}

a {
	color: #0088cc;
}

a:hover {
	color: #0099e6;
}

a:active {
	color: #0077b3;
}

.alternative-font {
	color: #0088cc;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
	background-color: #0088cc;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color: #ffffff;
	background-color: #0044cc;
}

.btn-primary:active,
.btn-primary.active {
	background-color: #003399 \9;
}

body.boxed div.body {
	border-top-color: #0088cc;
}

section.highlight {
	background-color: #0088cc;
	border-color: #0077b3;
}

section.page-top h2 {
	border-bottom-color: #0088cc;
}

section.toggle label {
	color: #0088cc;
	border-left-color: #0088cc;
}

section.toggle.active > label {
	background-color: #b3e5ff;
	border-color: #0088cc;
}

section.page-top.custom-product {
	background-color: #0077b3;
	border-top-color: #0088cc;
}

div.feature-box div.feature-box-icon {
	background-color: #0088cc;
}

ul.timeline li div.featured-box div.box-content {
	border-top-color: #0088cc;
}

a.thumb-info span.thumb-info-type {
	background-color: #0088cc;
}

a.thumb-info span.thumb-info-action-icon {
	background-color: #0088cc;
}

.thumbnail span.zoom {
	background-color: #0088cc;
}

span.thumb-info-social-icons a {
	background-color: #0088cc;
}

.inverted {
	background-color: #0088cc;
}

div.tabs ul.nav-tabs a,
div.tabs ul.nav-tabs a:hover {
	color: #0088cc;
}

div.tabs ul.nav-tabs a:hover {
	border-top-color: #0088cc;
}

div.tabs ul.nav-tabs li.active a {
	border-top-color: #0088cc;
	color: #0088cc;
}

ul.list.icons li i {
	color: #0088cc;
}

i.icon-featured {
	background-color: #0088cc;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #AAA;
	-webkit-box-shadow: 0 0 8px 2px #ebebeb;
	-moz-box-shadow: 0 0 8px 2px #ebebeb;
	box-shadow: 0 0 8px 2px #ebebeb;
}

header {
  /* Single Menu */
  /* Header Darken Top Border */
  /* Header Version 4 */
  /* Header Flat Menu */;
}

header nav ul.nav-main ul.dropdown-menu,
header nav ul.nav-main li.dropdown.open a.dropdown-toggle,
header nav ul.nav-main li.active a,
header nav ul.nav-main li.dropdown:hover a {
	color: #FFF;
	background-color: #0088cc !important;
}

header nav ul.nav-main ul.dropdown-menu li:hover > a {
	background-color: #00aaff !important;
}

header nav ul.nav-main ul.dropdown-menu {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

header nav ul.nav-main ul.dropdown-menu:hover,
header nav ul.nav-main ul.dropdown-menu:focus,
header nav ul.nav-main ul.dropdown-menu:active,
header nav ul.nav-main ul.dropdown-menu.active,
header nav ul.nav-main ul.dropdown-menu.disabled,
header nav ul.nav-main ul.dropdown-menu[disabled] {
	color: #ffffff;
	background-color: #0044cc;
}

header nav ul.nav-main ul.dropdown-menu:active,
header nav ul.nav-main ul.dropdown-menu.active {
	background-color: #003399 \9;
}

header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a {
	background: none !important;
}

header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
	background: #0099e6 !important;
}

header.single-menu nav ul.nav-main li.active > a {
	color: #0088cc;
	border-top: 5px solid #0088cc;
	background-color: transparent !important;
}

header.darken-top-border {
	border-top: 5px solid #0077b3;
}

header.colored div.header-top {
	background-color: #0088cc;
}

header.colored div.header-top ul.nav-top li a:hover {
	background-color: #0099e6 !important;
}

header.flat-menu nav ul.nav-main li > a,
header.flat-menu nav ul.nav-main li.active > a {
	color: #666;
}

header.flat-menu nav ul.nav-main li.active > a {
	color: #0088cc;
	background-color: transparent !important;
}

header.flat-menu nav ul.nav-main li.dropdown:hover a {
	color: #FFF;
	background-color: #0088cc !important;
}

div.slider div.tp-bannertimer {
	background-color: #0088cc;
}

div.home-intro p em {
	color: #00aaff;
}

div.home-concept strong {
	color: #0088cc;
}

blockquote.testimonial {
	background: #0099e6;
}

div.testimonial-arrow-down {
	border-top-color: #0099e6;
}

div.recent-posts div.date span.month,
article.post div.post-date span.month {
	background-color: #0088cc;
}

div.recent-posts div.date span.day,
article.post div.post-date span.day {
	color: #0088cc;
}

div.pricing-table div.most-popular {
	border-color: #0088cc;
}

div.pricing-table div.most-popular h3 {
	background-color: #0074ad;
	background-image: -moz-linear-gradient(top, #0088cc, #005580);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#005580));
	background-image: -webkit-linear-gradient(top, #0088cc, #005580);
	background-image: -o-linear-gradient(top, #0088cc, #005580);
	background-image: linear-gradient(to bottom, #0088cc, #005580);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff005580', GradientType=0);
}

footer div.footer-ribon {
	background: #0088cc;
}

footer div.footer-ribon::before {
	border-right-color: #005580;
}